#home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.outer {
  width: 100%;
  z-index: 0;
}

.service-cards {
  background-color: #4496af;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2rem;
  height: 14rem;
}

#contact {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

#contact > img {
  z-index: 1;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 2rem;
}

#contact > span {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contact > span > span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact > h1 {
  background-color: #c74821;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 2rem;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services > div {
  margin: 2rem;
  width: 90%;
  gap: 3rem;
}

#aboutus {
}
