#home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.outer {
  z-index: 0;
}

#contact {
  padding-top: 7%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

#contact_img {
  z-index: 1;
  text-align: center;
  border-radius: 2rem;
}

#contact > div {
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6abdcd;
  padding: 2rem;
  border-radius: 2rem;
}

#contact > div > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact > h2 {
  background-color: #9ccecb;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 2rem;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.service-cards {
  background-color: #4496af;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2rem;
  padding: 1rem;
}

#rowed {
  gap: 4rem;
  width: 100%;
}

#carousel {
  display: none;
}

#aboutus {
  background-color: #d1662e;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

#aboutus > div {
  padding: 4rem;
}

@media (max-width: 995px) {
  #contact {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
  }

  #contact_img {
    z-index: 1;
    text-align: center;
    border-radius: 0;
  }

  #contact > div {
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6abdcd;
    padding: 2rem;
    border-radius: 2rem;
  }

  #contact > div > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #contact > h2 {
    background-color: #9ccecb;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 2rem;
  }

  #rowed {
    display: none;
  }
  #carousel {
    display: flex;
    width: 100%;
  }
  .carousel-color {
    background-color: #4496af;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    height: 14rem;
    padding: 3rem;
  }
}
