#home {
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#contact {
  border-style: solid;
  border-color: black;
  height: 30rem;
}


#contact > span {

}

#contact > img {
    width: 100%;
}

#services {
  border-style: solid;
  border-color: red;
}

#aboutus {
  border-style: solid;
  border-color: wheat;
}
