footer {
  position: absolute;
  width: 100%;
  height: 18rem;
  bottom: 0;
}

footer > section {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#connect {
  display: flex;
}

#connect > a > img {
  width: 50px;
}

#img {
  width: 80px;
}

#links {
  display: flex;
  text-decoration: none;
  color: black;
}

#hours {
  display: flex;
}

#bottem {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#powered {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

#theg {
  width: 50px;
}

#logo {
  display: flex;
  justify-content: center;
}

#hours {
  display: flex;
  justify-content: flex-end;
}
