#our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#options {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.services{
 margin-left: 5rem;
 margin-right: 5rem;
}