@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  margin: 0;
}

body {
  font-family: "Lora", serif;
  background-color: lightblue;
  position: relative;
  min-height: 100vh;
}
