@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Lora", serif;
  background-color: #FDF8D7;
  position: relative;
  min-height: 100vh;
}

#page-content{
  padding-bottom: 15rem;
  padding-right: 4rem;
  padding-left: 4rem;
}