@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Lora", serif;
  background-color: #fdf8d7;
  position: relative;
  height: 100vh;
  min-height: 844px;
}

body > div {
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}