#about {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.sub-text {
  background-image: linear-gradient(to bottom right, #764bf6, #503fdf);
  color: white;
  border-radius: 1.5rem;
  padding: .5rem;
}

.text {
  background-image: linear-gradient(to bottom right, #645cf6, #5565e1);
  color: white;
  border-radius: 1.5rem;
  padding: 2rem;
}

#about-dream {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #about-dream > p {

} */

/* #magic-happens {
} */

/* #magic-happens > h2 {
}

#magic-happens > p {
 
} */
