#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  background-color: #6ABDCD;
  color: black;
  border-radius: 1.5rem;
  padding: 2rem;
}

#about-dream {
  display: flex;
  flex-direction: column;
  align-items: center;
}